.adv-form{
  display: flex;
  justify-content: start;
  padding-left: 50px;
}

.form-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-btn{
  padding-top: 45px;
}

#demo-simple-select-label{
  font-size: 12px;
  /* padding-bottom: 0px; */
  margin-bottom: -15px;
}
#demo-simple-select{
  font-size: 12px;
  margin-bottom: 0px;
}

.update-btn{
margin-right: 10px;
}

.update-delete-btns{
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
.update-header{
  padding: 15px 55px;
}
.create-header{
  padding: 15px 55px;
}