@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

body {
font-family: 'Raleway', sans-serif;
font-weight: 500;
}

.adventure__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 10px;
}

.adventure__city_province {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline grey 1px;
  margin-left: 60px;
}

.adventure_cover_photo {
  width: 50%;
  height: 450px;
  border-radius: 25px;
 margin-left: 30px;
 margin-right: 10px;
}

.adventure_thumbnail_photo {
  width: 40%;
  height: 450px;
  border-radius: 25px;
}

.adventure_host_name {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 50px;
  text-decoration: underline black 2px;
}

.adventure__host_profile {
  display: flex;
}

.adventure_host_pic {
border-radius: 50%;
width: 50px;
height: 20%;
margin-left: 50px;
margin-top: 15px;
}

.adventure__about_title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-left: 60px;
  margin-top: 20px;
}

.adventure__description {
  font-size: 18px;
  font-weight: 400;
  margin-left: 60px;
  margin-bottom: 30px;
}

.adventure__description_div {
width: 60%;
margin-top: 20px;
}

.adventure__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-left: 60px;
margin-top: 15px;
}

.adventure_favourite {
position: relative;
left: 1140px;
margin-top: 20px;
margin-bottom: 10px;
}

.adventure__photo_set {
  margin-left: 20px;
}

.adventure_review_component {
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}