@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

.navbar{
  border-radius: 20px;
  background-color: white;
  position: sticky;
  top: 0;
}
.colour-nav{
}

.nav-link{
  color: black;
font-size: 15px;
}
.nav-link:hover{
  color: black;
font-size: 15px;
}

#collasible-nav-dropdown{
  padding-bottom: 5px;
}

.day-trip-font{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
  font-size: 45px;
  margin-right: 70px;
}

