@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

.review__avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 50%;
  margin: 5px 2% 30px;
  border: 2px solid black;
}

.review__name {
  font-size: 18px;
  font-weight: 700;
  color: rgb(64, 161, 140);
  text-decoration: none;
}

.review__comment {
margin-top: 10px;
margin-bottom: 10px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

.review__card {
  display: inline-block;
  border-radius: 25px;
  margin: 15px;
  width: 300px;
  border: 2px solid rgb(202, 200, 200);
  padding: 15px;
}
.review__card:hover {
  box-shadow: 1px 2px 8px gray;

}

.review__rating {
  font-family: 'Roboto', sans-serif;
}

.review__star {
  color: #ffc107;
}

.reviews__header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 20px;
}

