@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

.review__avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid transparent;
  height: 100px;
}

.review__name {
  font-size: 18px;
  font-weight: 700;
  color: rgb(64, 161, 140);
  text-decoration: none;
}

.review__comment {
margin-top: 5px;
margin-bottom: 10px;
margin-left: 10px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
width: 70%;
}
.review__comment_rating{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.review__card {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin: 15px;
  width: 700px;
  border: 2px solid rgb(202, 200, 200);
  padding: 15px;
  background-color: white;
}
.review__card:hover {
  box-shadow: 1px 2px 8px gray;

}

.review-card{
  height: 830px;
  border: 1px solid transparent;
  border-radius: 35px;
  background-color: rgb(180, 192, 226);
  ;
}
.review__profile{
width: 200px;
}
.review__rating {
  font-family: 'Roboto', sans-serif;
font-size: 20px;

}

.review__star {
  color: #ffc107;
  font-size: 25px;
}

.reviews__header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.all-reviews{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.activty-page-reviews{
  margin-left: 45px;
}
